#chat-screen {
  height: 100%;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 2;
}

@keyframes fadeIn-left {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeIn-right {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.message-row--you {
  animation: fadeIn-left 0.8s linear;
}

.message-row--own {
  animation: fadeIn-right 0.8s linear;
}
/*숙제부분*/

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: var(--darkgray-color);
  background-color: var(--background-color);
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.message__author {
  display: block;
  margin-bottom: 5px;
  color: var(--darkgray-color);
}

.message__bubble {
  padding: 13px;
  font-size: 18px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  margin-bottom: 10px;
  font-weight: 600;
  background-color: var(--darkgray-color);
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time,
.message__author {
  opacity: 0.8;
  font-size: 14px;
  color: var(--darkgray-color);
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  border-radius: 15px;
  border-top-right-radius: 0px;
  margin-left: 5px;
  margin-right: 0px;
}

.message-row--own .message__bubble {
  order: 1;
}

.message-row--own .message__time {
  order: 0;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.685);
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  height: 33px;
  width: 95.3%;
  border: var(--main-border);
  border-radius: 20px;
  padding: 0 15px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 2.2px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply__column button {
  background-color: rgba(0, 0, 0, 0.178);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-beam,
.reply:focus-within button {
  opacity: 0;
}

.reply .reply__column:first-child,
.reply .fa-smile-beam,
.reply button {
  transition: opacity 0.2s ease-in-out;
}

.reply:focus-within input {
  width: 85vw;
  transform: translateX(-9%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}

.message-row--you {
  display: flex;
  flex-direction: column;
}
.message-box--you {
  margin-bottom: 10px;
  display: flex;
}
