.cog_homework {
  position: relative;
}

.find__cog-notification {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: tomato;
  position: absolute;
  border-radius: 50%;
  left: -3px;
  bottom: 18px;
}
/* 위에는 숙제임 */
.only_find img {
  height: 110vh;
}
.find-setting {
  margin-left: 20px;
}

.recommended-friends {
  margin: 25px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  color: var(--darkgray-color);
}

.recommended-friends__title {
  font-size: 14px;
}
.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  font-size: 18px;
  color: var(--darkgray-color);
}

.open-chat {
  color: var(--darkgray-color);
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
}

.open-chat__title {
  font-weight: 600;
  margin-bottom: 25px;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  border: 2px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 10px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__members-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 2px;
  height: 15px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.open-post__members-status {
  color: #ffb0e0;
  font-weight: 600;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__photo {
  position: relative;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.5);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}

.icon-row {
  color: var(--darkgray-color);
}
