.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.welcome-header__title {
  font-size: 25px;
  margin-bottom: 20px;
}
.welcome-header__text {
  font-size: medium;
  width: 60%;
  opacity: 0.5;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
}

#login-form input:focus {
  border-color: var(--yellow);
}

#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}

.turnOnpage {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.turnOn-Btn {
  font-size: 70px;
  margin-bottom: 32px;
}
.turnOn-Btn:focus {
  color: blue;
}

.turnOn-battery {
  font-size: 32px;
}

@keyframes boltAnimation {
  50% {
    color: yellow;
  }
}

.fa-bolt {
  animation: boltAnimation 1.5s ease-in-out infinite;
}

.turnOn-battery i:not(:last-child) {
  visibility: hidden;
}

.turnOn-battery i:first-child::after {
  visibility: initial;
}
