.settings__setting {
  padding: 20px 0;
  border-bottom: 1px solid var(--background-color);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--darkgray-color);
}

.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column:last-child {
  opacity: 0.5;
}

.settings-list .settings__setting:nth-child(3n + 3) {
  margin-bottom: 40px;
}

.settings__setting:hover {
  transform: scale(1.03);
  border-radius: 10px;
  background-color: var(--purple);
}

.loginout {
  background-color: var(--background-color);
  height: 50px;
  width: 90%;
  border-radius: 20px;
  position: absolute;
  bottom: 32px;
  right: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginout a {
  font-size: 32px;
  font-weight: 600;
  color: var(--darkgray-color);
}

.loginout:hover {
  transform: scale(1.07);
}

.loginout a:hover {
  color: var(--purple);
}

@keyframes settingsAnimation {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
}

.settings__setting {
  animation: settingsAnimation 1s ease-in-out;
}
