/*power button*/
@keyframes powerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 680px) {
  .turnOn-battery,
  .turnOn-Btn {
    animation: powerAnimation 0.5s ease-in-out;
  }
}

.turnOnpage {
  width: 100vw;
  height: 100vh;
  color: rgba(255, 255, 255, 0.726);
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes lightEffect {
  100% {
    background: radial-gradient(
      rgba(240, 237, 237, 0.849) 3%,
      rgba(208, 219, 51, 0.418) 35%,
      rgba(208, 219, 51, 0.5)
    );
  }
}
.turnOn-Btn {
  font-size: 70px;
  margin-bottom: 32px;
  transition: color 0.5s ease-in-out;
  padding: 30px 30px;
}
.turnOn-Btn:hover {
  border-radius: 50%;
  color: rgba(243, 243, 36, 0.829);
  animation: lightEffect 0.5s ease-in-out forwards;
  animation-delay: 0.3s;
}

.turnOn-battery {
  font-size: 32px;
  display: flex;
}

@keyframes boltAnimation {
  50% {
    color: rgba(255, 255, 0, 0.87);
  }
}
.turnOn-bolt {
  display: inline-block;
  margin-left: 42px;
}

/**/
.battery-status {
  margin-right: 12px;
  position: relative;
}

.turnon-quarter,
.turnon-half,
.turnon-full {
  position: absolute;
  color: rgb(255, 255, 255);
}

@keyframes batteryAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: rgb(255, 41, 255);
  }
}

.turnon-quarter {
  z-index: 3;
  color: rgba(255, 255, 255, 0.8);
}

.turnon-half {
  animation: batteryAnimation 1s linear infinite;
}
.turnon-full {
  animation: batteryAnimation 1s linear infinite;
}

@keyframes welcomeAnimation {
  0% {
    filter: blur(0);
    opacity: 1;
  }
  100% {
    filter: blur(5px);
    opacity: 0.2;
  }
}

.welcome2020 {
  display: inline-block;
  position: absolute;
  width: 500px;
  right: 25px;
  top: 150px;
  font-size: 70px;
  font-weight: 600;
  text-align: center;
}

.welcome2020 span {
  color: var(--darkgray-color);
  animation: welcomeAnimation 2.4s infinite alternate;
}

.welcome2020 span:nth-child(2) {
  animation-delay: 0.3s;
}
.welcome2020 span:nth-child(3) {
  animation-delay: 0.6s;
}
.welcome2020 span:nth-child(4) {
  animation-delay: 0.9s;
}
.welcome2020 span:nth-child(5) {
  animation-delay: 1.2s;
}
.welcome2020 span:nth-child(6) {
  animation-delay: 1.5s;
}
.welcome2020 span:nth-child(7) {
  animation-delay: 1.8s;
}
.welcome2020 span:nth-child(8) {
  animation-delay: 2.1s;
}
.welcome2020 span:nth-child(9) {
  animation-delay: 2.4s;
}
.welcome2020 span:nth-child(10) {
  animation-delay: 2.7s;
}
.welcome2020 span:last-child {
  animation-delay: 3s;
}
