.nav {
  cursor: pointer;
  position: fixed;
  right: -97vw;
  width: 100vw;
  height: 90px;
  padding: 30px 10px;
  background-color: var(--background-color);
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  top: 36%;
}

@keyframes width {
  to {
    transform: translateX(-97vw);
  }
}
.nav:hover {
  animation: width 1s ease-in-out forwards;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 25px;
  bottom: 20px;
  z-index: 1;
  animation: notificationAnimation 2s ease-in-out infinite;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(90deg);
  }
  100% {
    transform: none;
  }
}

.nav__link-notification {
  display: inline-block;
  height: 6px;
  width: 6px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  bottom: 30px;
}

.nav__list {
  display: flex;
  position: absolute;
  top: 0;
  padding: 22px 0;
  right: 0;
  font-size: 22px;
}

.nav__btn {
  margin: 0 47px;
}
